#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
input[type="text"] {
    border-radius:  15px;
    padding: 10px 32px;
}

button#searchsubmit,#create, #position {
    background: #4CAF50;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
}
td {
    text-align: center;
}
.content {
    padding-left:  360px;
    padding-right: 15px;
}
.content-admin {
    padding-left:  133px;
    margin-top: 50px;
}