.pagination li.single {
	margin-top: 15px;
	background-color: #4CAF50;
	padding: 10px;
	border-radius: 5px;
	color: #FFF;
}
.pagination li a {
	color: #FB503B;
	text-decoration:none;
}
.pagination li a.active {
	color: #FB503B;
	background: blue;
	text-decoration:none;
}
li {
	margin-top:  15px;
	padding: 1px;
}

.pagination li a, .pagination li a:hover, .pagination li a.active a {
	background-color: #FFFFFF;
	border-radius: 15px;
	border: 1px solid #477098;
	cursor: pointer;
	padding: 4px;
}
.pagination li a:hover,.pagination li.active a {
	background-color: #4b6b86;
	color:#FFFFFF;
}
.pagination li.single {
	background-color: #007bff;
}
.pagination li a:hover, .pagination li.active a {
	background-color: #007bff;
}
.pagination {
	margin-left: 400px;
}